@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

.title-1 {
  font-size: 64px;
  line-height: 80px;
}
@media screen and (max-width: 1000px) {
  .title-1 {
    font-size: 54.4px;
    line-height: 68px;
  }
}
@media screen and (max-width: 480px) {
  .title-1 {
    font-size: 41.6px;
    line-height: 52px;
  }
}
.title-1--secodary {
  color: #888686;
}
.title-1--accent {
  color: #232793;
}

.title-2 {
  font-size: 54px;
  line-height: 60px;
}
@media screen and (max-width: 1000px) {
  .title-2 {
    font-size: 45.9px;
    line-height: 51px;
  }
}
@media screen and (max-width: 480px) {
  .title-2 {
    font-size: 35.1px;
    line-height: 39px;
  }
}
.title-2--secodary {
  color: #888686;
}
.title-2--accent {
  color: #232793;
}

.subtitle-1 {
  font-size: 32px;
  line-height: 40px;
}
@media screen and (max-width: 1000px) {
  .subtitle-1 {
    font-size: 27.2px;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .subtitle-1 {
    font-size: 20.8px;
    line-height: 26px;
  }
}
.subtitle-1--secodary {
  color: #888686;
}
.subtitle-1--accent {
  color: #232793;
}

.subtitle-2 {
  font-size: 28px;
  line-height: 30px;
}
@media screen and (max-width: 1000px) {
  .subtitle-2 {
    font-size: 23.8px;
    line-height: 25.5px;
  }
}
@media screen and (max-width: 480px) {
  .subtitle-2 {
    font-size: 18.2px;
    line-height: 19.5px;
  }
}
.subtitle-2--secodary {
  color: #888686;
}
.subtitle-2--accent {
  color: #232793;
}

.body-1 {
  font-size: 20px;
  line-height: 24px;
}
@media screen and (max-width: 1000px) {
  .body-1 {
    font-size: 18px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 480px) {
  .body-1 {
    font-size: 17px;
    line-height: 20.4px;
  }
}
.body-1--secodary {
  color: #888686;
}
.body-1--accent {
  color: #232793;
}

.body-2, .secondary-button, .primary-button {
  font-size: 20px;
  line-height: 24px;
}
@media screen and (max-width: 1000px) {
  .body-2, .secondary-button, .primary-button {
    font-size: 17px;
    line-height: 20.4px;
  }
}
@media screen and (max-width: 480px) {
  .body-2, .secondary-button, .primary-button {
    font-size: 13px;
    line-height: 15.6px;
  }
}
.body-2--secodary {
  color: #888686;
}
.body-2--accent {
  color: #232793;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #888686;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
}
.header__logo {
  height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 60px 0;
}
@media screen and (max-width: 780px) {
  .home {
    flex-direction: column;
  }
}
.home__img {
  max-width: 50%;
  margin-left: 20px;
}
@media screen and (max-width: 780px) {
  .home__img {
    order: 1;
    max-width: 80%;
  }
}
.home__wrapper {
  max-width: 460px;
}
@media screen and (max-width: 780px) {
  .home__wrapper {
    order: 2;
    max-width: 100%;
  }
}
.home__title {
  margin-bottom: 30px;
}
.home__text {
  margin-bottom: 30px;
}
.home__actions {
  display: flex;
  gap: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 60px 0;
}
@media screen and (max-width: 780px) {
  .review {
    flex-direction: column;
  }
}
.review__img {
  max-width: 50%;
  margin-left: 20px;
}
@media screen and (max-width: 780px) {
  .review__img {
    max-width: 80%;
  }
}
.review__wrapper {
  max-width: 460px;
}
@media screen and (max-width: 780px) {
  .review__wrapper {
    max-width: 100%;
  }
}
.review__title {
  margin-bottom: 30px;
}
.review__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  margin-bottom: 30px;
}
.review__actions {
  display: flex;
  gap: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 780px) {
  .container {
    padding: 0 20px;
  }
}

.secondary-button, .primary-button {
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.primary-button {
  color: #fff;
  background-color: #232793;
  border: 2px solid #232793;
  transition: all 0.35s ease-out;
}
.primary-button:hover {
  color: #232793;
  background-color: #fff;
  border: 2px solid #232793;
  transition: all 0.35s ease-out;
}

.secondary-button {
  color: #fff;
  background-color: #888686;
  border: 2px solid #888686;
}
.secondary-button:hover {
  color: #232793;
  background-color: #fff;
  border: 2px solid #232793;
  transition: all 0.35s ease-out;
}

/*# sourceMappingURL=style.css.map */
