@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #888686;
}
.header__logo {
  height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Oxanium Regular", serif;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

.title-1 {
  font-size: 64px;
  line-height: 80px;
  font-family: "Oxanium Medium", serif;
}
@media screen and (max-width: 1000px) {
  .title-1 {
    font-size: 54.4px;
    line-height: 68px;
  }
}
@media screen and (max-width: 480px) {
  .title-1 {
    font-size: 41.6px;
    line-height: 52px;
  }
}
.title-1--white {
  color: #fff;
}

.title-2 {
  font-size: 64px;
  line-height: 80px;
  font-family: "Oxanium Bold", serif;
}
@media screen and (max-width: 1000px) {
  .title-2 {
    font-size: 54.4px;
    line-height: 68px;
  }
}
@media screen and (max-width: 480px) {
  .title-2 {
    font-size: 41.6px;
    line-height: 52px;
  }
}
.title-2--white {
  color: #fff;
}
.title-2--accent {
  color: #232793;
}

.subheader-1 {
  font-size: 32px;
  line-height: 40px;
  font-family: "Oxanium Regular", serif;
}
@media screen and (max-width: 1000px) {
  .subheader-1 {
    font-size: 27.2px;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .subheader-1 {
    font-size: 20.8px;
    line-height: 26px;
  }
}
.subheader-1--white {
  color: #fff;
}

.subheader-2 {
  font-size: 32px;
  line-height: 40px;
  font-family: "Oxanium Medium", serif;
}
@media screen and (max-width: 1000px) {
  .subheader-2 {
    font-size: 27.2px;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .subheader-2 {
    font-size: 20.8px;
    line-height: 26px;
  }
}
.subheader-2--white {
  color: #fff;
}

.subheader-3 {
  font-size: 40px;
  line-height: 50px;
  font-family: "Oxanium Light", serif;
}
@media screen and (max-width: 1000px) {
  .subheader-3 {
    font-size: 34px;
    line-height: 42.5px;
  }
}
@media screen and (max-width: 480px) {
  .subheader-3 {
    font-size: 26px;
    line-height: 32.5px;
  }
}
.subheader-3--white {
  color: #fff;
}

.body-1 {
  font-size: 20px;
  line-height: 24px;
  font-family: "Oxanium Regular", serif;
}
@media screen and (max-width: 1000px) {
  .body-1 {
    font-size: 18px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 480px) {
  .body-1 {
    font-size: 17px;
    line-height: 20.4px;
  }
}
.body-1--white {
  color: #fff;
}

.body-2, .secondary-button, .primary-button {
  font-size: 20px;
  line-height: 24px;
  font-family: "Oxanium Bold", serif;
}
@media screen and (max-width: 1000px) {
  .body-2, .secondary-button, .primary-button {
    font-size: 17px;
    line-height: 20.4px;
  }
}
@media screen and (max-width: 480px) {
  .body-2, .secondary-button, .primary-button {
    font-size: 13px;
    line-height: 15.6px;
  }
}
.body-2--white {
  color: #fff;
}

.label-1 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oxanium Regular", serif;
}
@media screen and (max-width: 1000px) {
  .label-1 {
    font-size: 14.4px;
    line-height: 18px;
  }
}
@media screen and (max-width: 480px) {
  .label-1 {
    font-size: 13.6px;
    line-height: 17px;
  }
}
.label-1--white {
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.secondary-button, .primary-button {
  padding: 16px 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  color: #fff;
  background-color: #232793;
  border: 1px solid #232793;
  transition: all 0.35s ease-out;
}
.primary-button:hover {
  color: #232793;
  background-color: #fff;
  border: 1px solid #232793;
  transition: all 0.35s ease-out;
}

.secondary-button {
  color: #888686;
  background-color: #fff;
}
.secondary-button:hover {
  color: #232793;
  transition: all 0.35s ease-out;
}

/*# sourceMappingURL=style.css.map */
