@import 'variables';

.header {
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary;

  &__logo {
    height: 100px;
  }
}
