@import 'variables';

.header {
  background-color: $secondary;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
  }

  &__logo {
    height: 100px;
  }
}
